[submodule "third_parties/googletest"]
	path = third_parties/googletest
	url = https://github.com/google/googletest.git
[submodule "third_parties/mp11"]
	path = third_parties/mp11
	url = git@github.com:mis-wut/mp11.git
